{% extends "base.html" %}
{% load static %} 
{% block title %}Home Page{% endblock %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

{% block content %}
<body class="custom-body">
<div class="main-container">
    <div class="Bcontainer">
        <!-- Hcontainer (left side) -->
        <div class="hcontainer">
            <div class="nav-links">
                <a href="{% url 'home' %}" class="nav-link">
                    <span>HOME</span><i class="fas fa-home"></i>
                </a>
                <a href="{% url 'explore_profile' %}" class="nav-link">
                    <span>Explore</span><i class="fas fa-search"></i>
                </a>
                <a href="{% url 'profile' user.id %}" class="nav-link">
                    <span>Profile</span><i class="fas fa-user"></i>
                </a>
                <a href="{% url 'tweet_list' %}" class="nav-link">
                    <span>For You</span> 
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5"/>
                    </svg>
                </a>
                <a href="#" class="nav-link">
                    <span>Notifications</span><i class="fas fa-bell"></i>
                </a>
                <a href="{% url 'liked_tweets' %}" class="nav-link">
                    <span>Liked Tweet</span><i class="fas fa-heart"></i>
                </a>
                <a href="#" class="nav-link">
                    <span>Messages</span><i class="fas fa-comment-dots"></i>
                </a>
                <a href="#" class="nav-link">
                    <span>Jobs</span><i class="fa fa-briefcase"></i>
                </a>
            </div>
            <div class="box">
                <a href="#divOne" class="renew-btn">Post</a>
            </div>
            
            <div class="overlay" id="divOne">
                <div class="wrapper">
                    <h2 class="text-center">Tweet</h2>
                    <a href="#" class="close">&times;</a> <!-- Updated href to '#' to close the modal -->
                    <div class="content">
                        <div class="pop-container">
                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{ tweet_form.as_p }}
                            <div class="btn-container">
                            <button type="submit" class="dark-blue-btn">Tweet</button>
                            </div>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="social-icons">
                <a href="https://www.facebook.com/login" target="_blank">
                    <i class="fab fa-facebook-f"></i>
                </a>                
                <a href="https://x.com/i/flow/login" target="_blank">
                    <i class="fab fa-twitter"></i>
                </a>
                <a href="https://www.instagram.com/accounts/login/" target="_blank">
                    <i class="fab fa-instagram"></i>
                </a>            
            </div>
        </div>
        

        <!-- Tweets Section -->
        <div class="container">
            <!-- Display the tweet form if the user is authenticated -->
            {% if user.is_authenticated %}
                <div class="form-container mt-4">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ tweet_form.as_p }}
                        <button type="submit" class="btn btn-primary">Tweet</button>
                    </form>
                </div>
            {% endif %}

            <!-- Display tweets -->
            <div class="tweets-section mt-4">
                <h2 class="text-center">All Tweets</h2>
                {% if page_obj %}
                    <ul class="list-unstyled">
                        {% for tweet in page_obj %}
                            <li class="media tweet-container">
                                <div class="tweet-header">
                                    {% if tweet.user.profile.profile_picture %}
                                        <img src="{{ tweet.user.profile.profile_picture.url }}" alt="{{ tweet.user.profileusername }}'s profile picture" class="tweet-profile-img">
                                    {% else %}
                                        <img src="{% static 'images/default_profile_picture.jpg' %}" alt="Default profile picture" class="tweet-profile-img">
                                    {% endif %}
                                    <div>
                                <h4 class="profile-name">{{ tweet.user.profile.first_name }} {{ tweet.user.profile.last_name }}</h4>
                                <span class="profile-username">@{{ tweet.user.username }}</span>
                            </div>

                                    <!-- Edit Tweet Icon -->
                                    <a href="{% url 'edit_tweet' tweet.pk %}" class="edit-icon">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                                          <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z"/>
                                          <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5z"/>
                                        </svg>
                                    </a>
                                </div>
                                <div class="tweet-content">
                                    {{ tweet.content }}
                                </div>
                                <p class="text-muted">{{ tweet.created_at }}</p>

                                <div class="tweet-actions">
                                    <i class="fas fa-heart"
                                       data-tweet-id="{{ tweet.id }}"
                                       data-liked="{% if user in tweet.likes.all %}true{% else %}false{% endif %}">
                                    </i>
                                    <i class="fas fa-retweet"></i>
                                    <i class="fas fa-reply"></i>
                                    <span id="like-count-{{ tweet.id }}">{{ tweet.likes.count }}</span>
                                </div>
                            </li>
                        {% endfor %}
                    </ul>
                    
                    <!-- Pagination controls -->
                    <div class="pagination">
                        <span class="step-links">
                            {% if page_obj.has_previous %}
                                <a href="?page=1">&laquo; first</a>
                                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
                            {% endif %}

                            <span class="current">
                                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
                            </span>

                            {% if page_obj.has_next %}
                                <a href="?page={{ page_obj.next_page_number }}">next</a>
                                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
                            {% endif %}
                        </span>
                    </div>
                {% else %}
                    <p class="text-center">No tweets to display.</p>
                {% endif %}
                
            </div>
        </div>
        <!-- Profile Container -->
        <div class="profile-container">
            {% if user.profile.profile_picture %}
                <img src="{{ user.profile.profile_picture.url }}" alt="{{ user.username }}'s profile picture">
            {% else %}
                <img src="{% static 'images/default_profile_picture.jpg' %}" alt="Default profile picture">
            {% endif %}
            <h2><a href="{% url 'profile' user.id %}" class="profile-name-link">{{ user.profile.first_name }} {{ user.profile.last_name }}</a></h2>
            <p>{{ user.profile.bio }}</p>
            <p class="membership">{{ user.profile.membership }}</p>
            <a href="{% url 'edit_profile' %}" class="renew-btn">Renew</a>
            <div class="social-icons">
                {% for social in user.profile.social_links.all %}
                    <a href="{{ social.url }}"><i class="fab fa-{{ social.platform }}"></i></a>
                {% endfor %}
            </div>
        </div>
        
    </div>
</div>

<script src="{% static 'js/script.js' %}"></script>
</body>
{% endblock %}
