{% extends "base.html" %}
{% load static %}
{% block title %}Liked Tweets{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

<div class="like-container">
        <h1 class="like-page-title">Liked Tweets</h1>
    
        {% if tweets %}
            <div class="like-tweet-cards-container">
                {% for tweet in tweets %}
                    <div class="like-tweet-card">
                        <p class="like-tweet-content">{{ tweet.content }}</p>
                        <p class="like-tweet-meta"><small>Liked on: {{ tweet.created_at }}</small></p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <p class="like-no-tweets">You have not liked any tweets yet.</p>
        {% endif %}
    </div>
    
    {% endblock %}
    