{% extends "base.html" %}
{% load static %}
{% block title %}Profiles Listing{% endblock %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/style.css' %}">

 <div class="listpro-container">
    <h1 class="listpro-page-title">{{ title }}</h1>

    {% if users %}
        <div class="listpro-card-container">
            {% for profile in users %}
            <div class="listpro-card-column">
                <div class="listpro-profile-card">
                    {% if user.is_authenticated %}
                        <form method="post" action="{% url 'follow_profile' profile.pk %}">
                            {% csrf_token %}
                            <input type="hidden" name="follow" value="{% if profile in user.profile.follows.all %}unfollow{% else %}follow{% endif %}">
                            <button type="submit" class="listpro-follow-button">
                                {% if profile in user.profile.follows.all %}
                                    - Unfollow
                                {% else %}
                                    + Follow
                                {% endif %}
                            </button>
                        </form>
                    {% else %}
                        <p><a href="{% url 'login' %}" style="color: white;">Login to follow users</a></p>
                    {% endif %}
                    <div class="listpro-profile-info">
                        <div class="listpro-profile-img-container">
                            {% if profile.profile_picture %}
                                <img src="{{ profile.profile_picture.url }}" alt="{{ profile.user.username }}'s profile picture" class="listpro-profile-img">
                            {% else %}
                                <img src="{% static 'images/default_profile_picture.jpg' %}" alt="Default profile picture" class="listpro-profile-img">
                            {% endif %}
                        </div>
                        <div class="listpro-profile-details">
                            <h5 class="listpro-card-title">
                                <a href="{% url 'profile' profile.user.id %}" style="text-decoration: none; color: inherit;">
                                    {{ profile.first_name }} {{ profile.last_name }}
                                </a>
                            </h5>
                            <p class="listpro-username">@{{ profile.user.username }}</p>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    {% else %}
        <p class="no-users">No users to display.</p>
    {% endif %}
</div>
{% endblock%}